.products {
  margin: 120px 0;
  text-align: center;
  padding: 20px;
}

.products h2 {
  font-size: 24px;
  font-weight: bold;
}

.products p {
  font-size: 16px;
  margin-bottom: 20px;
}

.product-options {
  display: flex;
  justify-content: space-between;
}

.product-option {
  flex-basis: 30%;
  padding: 10px;
}

.product-option img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 2px solid black;
  border-radius: 20px;
  transition: 0.3s;
  filter: drop-shadow(1px 2px 3px black)
}

.product-option img:hover {
  transition: 0.5s;
  max-width: 320px;
  filter: drop-shadow(4px 6px 10px black)
}

.product-option h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.product-option a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 610px) {

  .product-options {
    flex-direction: column;
  }

  .product-option {
    margin-top: 20px;
  }

  .product-option h3 {
    font-size: 20px;
  }
}


